<div class="row">
  <div class="col">
    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista"> <!--Captura la referencia local con #termino para utilizar en el .ts-->
  </div>                      <!--y con el keyup recoge el contenido del input cuando se presione una tecla-->
</div>


<div class="card-columns m-5"> <!--m-5 propiedad de bootstrap para separar-->

  <div *ngFor="let artista of artistas" class="card">
    <img class="card-img-top" [src]="artista.images[0].url" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{artista.name}}</h5>
    </div>
  </div>
</div>